# Only package the build output for npm. Developers who want sources/tests can get them from the KO repo.
*
!build/knockout.js
!build/knockout.esm.js
!build/knockout.debug.js
!build/knockout.debug.js.map
!build/types/knockout.d.ts
!package.json
!LICENSE
